.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
.new-tweet > form{
  width: 700px;
}
#tweet-text{
  width: 100%;
  border: none;
  border-bottom: 4px solid black;
  background-color: transparent;
  resize: none;
}
.new-tweet1{
  display: flex;
  flex-direction: row;
  font-family: "bungee", sans-serif;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.new-tweet1 > button {
  background-color: #4056a1;
  color: #FFFFFF;
  font-size: 24px;
  border: 0;
  height: 2.5rem;
  width: 7rem;
 }
 
 .invalid {
  color: red;
 }