#tweets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  border-style: solid;
  background-color: white;
  margin: 20px;
}
/* avatar image */
.tweet img {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 75px;
  max-height: 75px;
  height: auto;
  width: auto;
}

.responses > i:hover {
  color: goldenrod
}

/* affects @user id name */
.user-handle {
  color: #85b6e8;
}

.tweet {
  width: 1300px;
  height: 220px;
  color: black;
  border: solid black 5px;
  margin: 10px;
}
 .tweet:hover {
  box-shadow: 10px 10px rgb(62, 29, 147);
 }

.tweet-text {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 45px;
  border-bottom: solid;
  color: black;
  font: black;
  word-break: break-all;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
  margin: 10px;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 23px;
  margin: 10px;
}

@media only screen and(min-width: 1024px) {
  #tweets-container {
    width: 100%;
  }
}