#tweets-container {
  display: flex;
  flex-direction: column;
  background-color: #f4f1ec;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ad7315;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}
.img{
  color: black;
}
.tweet {
  width: 1100px;
  height: 200px;
  border-style: solid;
  color: black;
}
.tweet-text {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 45px;
  border-bottom: solid;
  color: black;
  font: black;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: 70px;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  margin: 20px;
}